.wrapper {
    display: flex;
    justify-content: center;
    gap: 4vw;
    padding: 3rem 0;
}

.pic img {
    width: 30vw;
}

.title {
    font-size: 4.8vw;
    color: rgb(83,202,238);
    text-shadow: 0.3px 0.5px 0.3px rgb(0, 0, 0);
    line-height: 4rem;
}

.tel {
    display: flex;
    height: 2.7rem;
    align-items: center;
}

.tel button {
    height: 2.8rem;
    border: none;
    font-size: 25px;
    background: rgb(251,185,67);
    background: linear-gradient(0deg, rgba(251,185,67,1) 0%, rgba(253,224,70,1) 100%);
    color: whitesmoke;
    padding: 0 2rem;
    border-radius: 45px;
    cursor: pointer;
    margin-left: -3rem;
}

.telegram:hover {
    transform: scale(1.1);
}

.contacts {
    display: flex;
    gap: 2rem;
    height: 4rem;
    margin-top: 6rem;
}

.links {
    display: flex;
    gap: 0.5rem;
    height: 2.8rem;
}

.links img {
    width: 1.8rem;
    height: 1.8rem;
}

.telegram {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    border: 3px solid rgb(83,202,238);
    border-radius: 45px;
    padding: 0 1.4rem;
    transition: all 0.3s ease;
}

.telegram span {
    font-size: 1.4rem;
    color: rgb(83,202,238);
}

.links a {
    text-decoration: none;
}

.input {
    border-radius: 45px;
    height: 2.5rem;
    width: 15rem;
    padding: 1rem;
    border: 3px solid white;
}
  
.input:focus {
    outline: none;
    border-color: rgb(255,183,66);
}
  
.invalid {
    border-color: red;
    background: #fbdada;
}

.tel input {
    box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.3)
}