.login {
    width: 90%;
    max-width: 40rem;
    margin: 2rem auto;
    padding: 2rem;
  }
  
  .control {
    margin: 0.4rem 0;
    display: flex;
    align-items: stretch;
    flex-direction: column;
  }
  
  .control label,
  .control input {
    display: block;
  }

  .control input::placeholder {
    color: rgba(151, 231, 255, 0.87);
    text-shadow: 0.3px 0.3px 0.3px rgb(0, 4, 233);
    font-size: 17px;
  }
  
  .control label {
    font-weight: bold;
    flex: 1;
    color: rgb(83,202,238);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    font-size: 20px;
    margin-bottom: 0.3rem;
    margin-left: 1.7rem;
  }
  
  .control input {
    letter-spacing: 0.1rem;
    flex: 3;
    font: inherit;
    padding: 1rem 1.7rem;
    border-radius: 45px;
    border: 1px solid #ccc;
    color: rgb(83,202,238);
    text-shadow: 0.5px 0.5px 0.5px rgb(0, 0, 0);
    font-size: 20px;
    width: 30rem;
  }
  
  .control input:focus {
    outline: none;
    border-color: #4f005f;
    background: #f6dbfc;
  }
  
  .control.invalid input {
    border-color: red;
    background: #fbdada;
  }

@media screen and (max-width: 1282px) {
  .control input {
    width: 25rem;
  }
}

@media screen and (max-width: 1282px) {
  .control input {
    width: 20rem;
  }
}

@media screen and (max-width: 900px) {
  .control label {
    font-size: 16px;
  }

  .control input::placeholder {
    font-size: 15px;
  }

  .control input {
    padding: 0.7rem 1.7rem;
    font-size: 18px;
  }
}

@media (max-width: 788px) {
  .control input {
    width: 100%;
  }
}