.wrapper {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(253, 224, 70);
    text-shadow: 1px 1px 1px #000;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
}