.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.content {
    box-shadow: 0 0 6px rgba(0,0,0,0.4);
    background-color: white;
    border-radius: 30px;
    padding: 20px;
    width: 30vw;
}

.header {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.title {
    text-align: center;
    font-size: 1.4rem;
}

.close {
    border: 2px solid grey;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    rotate: 45deg;
    font-size: 24px;
    color: grey;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.close:hover {
    color: rgb(251,185,67);
    border-color: rgb(251,185,67);
}

.form {
    display: flex;
    flex-direction: column;
}

.form input {
    margin-bottom: 36px;
}

.form textarea {
    margin-bottom: 26px;
}



.form button {
    font-size: 1.2rem;
    width: 100%;
}

.event-type-container {
    position: relative;
}

.opened {
    animation: openModal 300ms ease-out forwards;
}

.closed {
    animation: closeModal 300ms ease-out forwards;
}

.opened-background {
    animation: openModalBackgroung 300ms ease-out forwards;
}

.closed-background{
    animation: closeModalBackgroung 300ms ease-out forwards;
}

@media (min-width: 1800px) {
    .content {
        width: 20vw;
    }
}

@media (max-width: 1000px) {
    .content {
        width: 40vw;
    }
}

@media (max-width: 750px) {
    .content {
        width: 50vw;
    }
}

@media (max-width: 550px) {
    .content {
        width: 60vw;
    }
}

@media (max-width: 450px) {
    .content {
        width: 70vw;
    }
}

@keyframes openModal {
    0% {
        opacity: 0;
        transform: translateY(-20%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes closeModal {
    0% {
        opacity: 1;
        transform: translateY(0%);
    }
    100% {
        opacity: 0;
        transform: translateY(-20%);
    }
}

@keyframes openModalBackgroung {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes closeModalBackgroung {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}