.back{
    background: rgb(155,222,245);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(155,222,245,1) 39%, rgba(155,222,245,1) 100%)
}

.wrapper {
    display: flex;
    margin: 5rem 0;
    align-items: flex-end;
}

.form{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.inputs{
    display: flex;
    flex-direction: column;
    width: 30rem;
}

.form-title{ 
    margin: 0 0 10px 0;
    font-size: 45px;
    color: rgba(253,224,70,1);
    text-shadow: 1px 1px 1px #000;
}

.form-description{ 
    margin: 0 0 10px 0;
    font-size: 19px;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000;
}

.form-button {
    letter-spacing: 0.1rem;
    margin-top: 10px;
    font-size: 25px;
    cursor: pointer;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000;
    border: none;
    background: rgb(251,185,67);
    background: linear-gradient(0deg, rgba(251,185,67,1) 0%, rgba(253,224,70,1) 100%);
    padding: 0.7rem 2.5rem;
    border-radius: 20px;
    font-weight: bold;
}

.form-button:disabled {
    background-color: rgb(161, 161, 161);
    color: whitesmoke;
    cursor:not-allowed
}

.phone-label {
    font-weight: bold;
    flex: 1;
    color: rgb(83,202,238);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    font-size: 20px;
    margin-bottom: 0.3rem;
    margin-left: 1.7rem;
}

.input {
    letter-spacing: 0.1rem;
    flex: 3;
    font: inherit;
    padding: 1rem 1.7rem;
    border-radius: 45px;
    border: 1px solid #ccc;
    color: rgb(83,202,238);
    text-shadow: 0.5px 0.5px 0.5px rgb(0, 0, 0);
    font-size: 20px;
    width: 30rem;
    min-width: 300px;
}

.input::placeholder {
    color: rgb(83,202,238, 0.7);
    font-size: 20px;
    padding-left: 1rem;
}
  
.input:focus {
    outline: none;
    border-color: rgb(255,183,66);
}

.invalid {
    border-color: red;
    background: #fbdada;
}

.avatar {
    display: flex;
    pointer-events: none;
    user-select: none;
    width: 50%;
    justify-content: center;
}

.avatar img{
    display: block;
    max-width: 100%;
    align-self: flex-end;
    height: auto;
}

@media screen and (max-width: 1428px) {
    .form-title{ 
        font-size: 40px;
    }
}

@media screen and (max-width: 1282px) {
    .form-title{ 
        font-size: 35px;
    }
    
    .form-description{ 
        font-size: 17px;
    }

    .input {
        width: 25rem;
    }
}

@media screen and (max-width: 1282px) {
    .form-title{ 
        font-size: 30px;
    }
    
    .form-description{ 
        font-size: 15px;
    }

    .input {
        width: 20rem;
    }
}

@media (max-width: 900px) {
    .form-title{ 
        font-size: 24px;
    }

    .form-description{
        display: none;
    }

    .phone-label {
        font-size: 16px;
    }

    .input {
        padding: 0.7rem 1.7rem;
        font-size: 16px;
    }

    .form-button {
        font-size: 22px;
        padding: 0.6rem 2.5rem;
    }
}

@media (max-width: 788px) {
    .wrapper {
        flex-direction: column-reverse;
        align-items: center;
        gap: 3rem;
    }

    .form-title{ 
        font-size: 24px;
        text-align: center;
    }

    .form-description{
        display: block;
        text-align: center;
    }

    .form {
        width: 100%;
    }

    .input {
        width: 100%;
    }

    .inputs {
        width: 100%;
    }

    .avatar {
        width: 60vw;
    }

    .phone-label {
        font-size: 16px;
    }
}