.back{
    background: url('/public/assets/magicBanner.webp');
    background-size: cover;
}

.wrapper {
    display: flex;
    justify-content:space-between;
    margin: 25vh 0 20vh 5vw;
}

.form{
    display: flex;
    flex-direction: column;
}

.inputs{
    display: flex;
    flex-direction: column;
    width: 30rem;
}

.form-title{ 
    margin: 0 0 10px 0;
    font-size: 55px;
    color: rgba(253,224,70,1);
    text-shadow: 1px 1px 1px #000;
}

.form-description{ 
    margin: 0 0 10px 0;
    font-size: 25px;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000;
}

.form-button {
    letter-spacing: 0.1rem;
    margin-top: 10px;
    font-size: 25px;
    cursor: pointer;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000;
    border: none;
    background: rgb(251,185,67);
    background: linear-gradient(0deg, rgba(251,185,67,1) 0%, rgba(253,224,70,1) 100%);
    padding: 1rem 2.5rem;
    border-radius: 20px;
    font-weight: bold;
}

.form-button:disabled {
    background-color: rgb(161, 161, 161);
    color: whitesmoke;
    cursor:not-allowed
}

.phone-label {
    font-weight: bold;
    flex: 1;
    color: rgb(83,202,238);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    font-size: 25px;
    margin-bottom: 0.3rem;
    margin-left: 1.7rem;
}

.input {
    letter-spacing: 0.1rem;
    flex: 3;
    font: inherit;
    padding: 1rem 1.7rem;
    border-radius: 45px;
    border: 1px solid #ccc;
    color: rgb(83,202,238);
    text-shadow: 0.5px 0.5px 0.5px rgb(0, 0, 0);
    font-size: 25px;
    width: 30rem;
}
  
.input:focus {
    outline: none;
    border-color: rgb(255,183,66);
}

.invalid {
    border-color: red;
    background: #fbdada;
}