.welcome {
    text-align: center;
    position: relative;
}

.banner {
    width: 100%;
    display: block;
}

.baner-mobile {
    display: none;
    width: 100%;
}

.info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.title {
    color: rgba(253,224,70,1);
    /* text-shadow: 0.1px 0.1px 0.1px rgb(104, 104, 104); */
    margin-top: 10vh;
    font-size: 2.7vw;
}

.description {
    color: #ffffff;
    /* text-shadow: 1px 1px 1px #000; */
    font-size: 39px;
    text-align: center;
    margin-top: 5rem;
}

.info button {
    margin-top: 2rem;
    padding: 0.6rem 0;
}

.info button a {
    text-decoration: none;
    /* text-shadow: 1px 1px 1px #000; */
    color: white;
    font-size: 35px;
    padding: 0.6rem 2.2rem;
}

@media (max-width: 1750px) {
    .title {
        margin-top: 10vh;
    }

    .description {
        font-size: 30px;
        text-align: center;
        margin: 3rem auto 0 auto;
    }

    .info {
        width: 70%;
        margin: 0 auto;
    }
    
    .info .description {
        width: 90%;
    }

    .info button {
        font-size: 20px;
        padding: 0.6rem 2.2rem;
        margin-top: 2rem;
    }

    .info button a {
        font-size: 35px;
    }
}

@media (max-width: 1570px) {
    .title {
        margin-top: 8vh;
    }

    .description {
        font-size: 28px;
        text-align: center;
        margin: 3rem auto 0 auto;
    }

    .info button {
        margin-top: 3rem;
    }

    .info button a {
        font-size: 30px;
    }
}

@media (max-width: 1430px) {
    .title {
        margin-top: 8vh;
    }

    .description {
        font-size: 25px;
        text-align: center;
        margin: 4rem auto 0 auto;
    }

    .info button {
        margin-top: 3rem;
    }

    .info button a {
        font-size: 30px;
    }
}

@media (max-width: 1230px) {
    .title {
        margin-top: 6vh;
    }

    .description {
        font-size: 22px;
        text-align: center;
        margin: 4rem auto 0 auto;
    }

    .info button {
        margin-top: 2rem;
    }

    .info button a {
        font-size: 30px;
    }
}

@media (max-width: 1030px) {
    .title {
        margin-top: 3vh;
    }

    .description {
        font-size: 19px;
        text-align: center;
        margin: 4rem auto 0 auto;
    }

    .info button {
        margin-top: 2rem;
        padding: 0.3rem 0;
    }

    .info button a {
        font-size: 28px;
    }
}

@media (max-width: 890px) {
    .title {
        margin-top: 1vh;
    }

    .description {
        font-size: 17px;
        text-align: center;
        margin: 4rem auto 0 auto;
    }

    .info button {
        margin-top: 2rem;
        padding: 0.3rem 0;
        font-size: 17px;
    }

    .info button a {
        font-size: 25px;
    }
}

@media (max-width: 890px) {
    .title {
        margin-top: 1vh;
    }

    .description {
        font-size: 17px;
        text-align: center;
        margin: 4rem auto 0 auto;
    }

    .info button {
        margin-top: 2rem;
        padding: 0.3rem 0;
        font-size: 17px;
    }

    .info button a {
        font-size: 25px;
    }
}

@media (max-width: 450px) {
    .welcome, .info {
        width: 100%;
    }
    
    .baner-mobile {
        display: block;
    }

    .banner {
        display: none;
    }

    .title {
        margin-top: 6vh;
        font-size: 24px;
    }

    .description {
        font-size: 19px;
        text-align: center;
        margin: 5rem auto 0 auto;
    }

    .info button {
        margin-top: 2rem;
        padding: 0.7rem 1rem;
        font-size: 17px;
    }

    .info button a {
        font-size: 20px;
    }
}