.image-container {
    border: 5px solid rgb(83,202,238);
    box-shadow: rgb(83,202,238) 0px 0px 8px;
    width: 130px;
    height: 130px;
    min-height: 130px;
    min-width: 130px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.image {
    height: 100%;
    width: 100%;
}
