.list {
    display: flex;
    justify-content: space-between;
}

.wrapper {
    margin: 10vh 0;
    margin-bottom: 400px;
}

.description {
    margin-top: 5vh;
    display: flex;
    justify-content: space-around;
}

.advantages {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 35px;
}