.title {
    color: rgba(253,224,70,1);
    text-shadow: 1px 1px 1px #000;
    margin-top: 30px;
    font-size: 2rem;
    text-align: center;
}

.swiper {
    padding: 10px;
}

.slide {
    background-position: center;
    background-size: cover;
    height: 450px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 10px;
    margin-bottom: 30px;
}
