.wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px 0 20px 0;
}

.about-block {
    display: flex;
    justify-content:space-around;
    gap: 3rem;
    align-items: center;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.avatar img {
    width: 35vw;
}

.gallery {
    margin: 10vh 0;
}

.title {
    font-size: 45px;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000;
}

.description {
    margin-top: 2rem;
    font-size: 23px;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000;
    text-align: justify;
}

@media screen and (max-width: 1282px) {
    .description {
        margin-top: 1rem;
        font-size: 20px;
    }
}

@media screen and (max-width: 1024px) {
    .title {
        font-size: 35px;
        color: #ffffff;
        text-shadow: 1px 1px 1px #000;
    }
    .description {
        margin-top: 0.8rem;
        font-size: 17px;
    }
}

@media screen and (max-width: 787px) {
    .about {
        text-align: center;
    }

    .about-block {
        flex-direction: column-reverse;
        gap: 1rem;
    }

    .wrapper {
        padding: 1rem 0 20px 0;
    }

    .avatar img {
        width: 45vw;
    }
}


@media screen and (max-width: 587px) {
    .about-block {
        gap: 0.5rem;
    }

    .wrapper {
        padding: 0.5rem 0 20px 0;
    }

    .avatar img {
        width: 60vw;
    }
}