.page {
    background: rgb(255,255,255);
    background: linear-gradient(176deg, rgba(255,255,255,1) 0%, rgba(244,244,255,1) 50%, rgba(244,244,255,1) 100%);    min-height: 100vh;
}

.actions {
    display: flex;
    justify-content: flex-end;
    padding: 8px;
  }
  
.actions button {
    margin-left: 14px;
}

@media (max-width: 450px) {
    .actions button {
        font-size: 0.8rem;
    }
}