.navbar ul{
    list-style-type: none;
    margin-left: -2em;
}
.header{
    display: flex;
}

.navbar {
    width: 85vw;
    display: flex;
}

.navbar ul:nth-child(2) {
    flex: 1;
}

.contacts li:nth-child(1) {
    width: 9rem;
}

.list {
    display: flex;
    gap: 1rem;
}

.list a {
    text-decoration: none;
    color: var(--color-primary-400);
}

.list a:hover,
.list a.active {
    color: blueviolet
}

.logo {
    padding: 1rem;
}

.logo img{
    width: 25px;
    height: 25px;
}

.header-items {
    margin: 0 auto;
}