.content {
    top: 51px;
    width: 100%;
    height: 218px;
    background-color: white;
    padding: 16px;
    border-radius: 24px;
    position: absolute;
    box-shadow: 0 0 6px rgba(0,0,0,0.4);
    overflow-y: overlay;
}

.content::-webkit-scrollbar {
    width: 0.3rem;
}

.content::-webkit-scrollbar-track {
    margin: 14px 0;
}

.opened {
    animation: openModal 300ms ease-out forwards;
}

.closed {
    animation: closeModal 300ms ease-out forwards;
}

@keyframes openModal {
    0% {
        opacity: 0;
        height: 0px;
    }
    100% {
        opacity: 1;
        height: 218px;
    }
}

@keyframes closeModal {
    0% {
        opacity: 1;
        height: 218px;
    }
    100% {
        opacity: 0;
        height: 0px;
    }
}
