.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.sub-title {
    font-size: 50px;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000;
}

.sub-description {
    font-size: 25px;
    color: #ffffff;
    margin-top: 2rem;
    text-shadow: 1px 1px 1px #000;
}

.main-img {
    width: 35vw;
}

@media screen and (max-width: 1140px) {
    .sub-title {
        font-size: 45px;
    }
    
    .sub-description {
        font-size: 22px;
    }
}

@media screen and (max-width: 990px) {
    .sub-title {
        font-size: 37px;
    }
    
    .sub-description {
        font-size: 20px;
    }
}

@media screen and (max-width: 840px) {
    .sub-title {
        font-size: 33px;
    }
    
    .sub-description {
        font-size: 18px;
    }
}

@media screen and (max-width: 785px) {
    .sub-title {
        font-size: 33px;
        text-align: center;
    }
    
    .sub-description {
        font-size: 18px;
        text-align: center;
        margin-bottom: 1rem;
    }

    .details {
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }
}