.wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    overflow: hidden;
}

.wave1, .wave2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: url("/public/assets/wave.webp");
    background-size: 2000px 80px;
}

.wave2 {
    opacity: 0.8;
}

.wave1 {
    animation: animate1 5s linear infinite;
}

.wave2 {
    animation: animate2 5s linear infinite;
}

@keyframes animate1 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 2000px;
    }
}

@keyframes animate2 {
    0% {
        background-position-x: 500px;
    }
    100% {
        background-position-x: 2500px;
    }
}
