.list {
    display: flex;
    gap: 1rem;
    transform: scale(1);
    transition: all 4s ease;
}

.list a {
    text-decoration: none;
    color: var(--color-primary-400);
}

.list li{
    margin-top: 13px;
}

.list a:hover,
.list a.active {
    color: blueviolet
}

.header-items {
    margin: 0 auto;
    font-size: 1.4vw;
    color: rgb(83,202,238);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

@media screen and (max-width: 828px) {
    .list {
        display: none;
    }
}