.nav {
    flex: 2;
}

.list {
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 2rem;
    transform: scale(1);
    transition: all 4s ease;
}

.nav-item {
    font-size: 1.4vw;
    color: white;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    text-decoration: none;
}

.nav-item-dark {
    color: rgb(83,202,238);
}

.nav-item:hover,
.active {
    color: blueviolet;
}

@media screen and (max-width: 905px) {
    .list {
        gap: 1rem;
    }
}

@media screen and (max-width: 828px) {
    .list {
        display: none;
    }
}
