.item {
    position: relative;
    width: 100%;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    color: rgb(0,122,255)

}

.name {
    font-size: 1.4rem;
    margin-bottom: 10px;
    margin-top: 26px;
}

.text {
    text-align: justify;
    flex-grow: 2;
    overflow: auto;
    text-overflow: ellipsis;
    width: 100%;
    font-size: 14px;
}

.image {
    margin-top: 8px;
    height: 130px;
    min-height: 130px;
}

.text::-webkit-scrollbar {
    width: 0.2rem;
}