.item {
    display: flex;
    align-items: flex-end;
    padding: 10px;
    border-bottom: 1px solid rgb(38,69,255);
    color: rgb(55, 57, 81);
    transition: all 300ms;
}

.item:hover {
    background-color: rgb(244,244,255);
}

.collapsed {
    display: none;
}

.collapsed-name {
    margin-bottom: 12px;
}

.item .index-cell {
    width: 3%;
}

.item .name-cell {
    width: 18%;
}

.item .inst-cell {
    width: 28%;
}

.item .tel-cell {
    width: 17%;
}

.item .date-cell {
    width: 9%;
    text-align: end;
}

.item div {
    margin-right: 5%;
}

.inst, .number {
    color: rgb(55, 57, 81);
    text-decoration: none;
    background-color: rgb(244,244,255);
    border-radius: 5px;
    padding: 2px 6px;
    cursor: pointer;
    transition: all 300ms;
}

.inst:hover, .number:hover {
    background-color: rgb(221, 221, 236)
}

.inst-cell, .name-cell, .collapsed-inst {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media (max-width: 750px) {
    .item div {
        font-size: 0.75rem;
    }
}

@media (max-width: 600px) {
    .index-cell, .name-cell, .inst-cell {
        display: none;
    }

    .collapsed {
        display: block;
        width: 32%;
    }

    .item .tel-cell {
        width: 32%;
    }

    .item .date-cell {
        width: 20%;
    }
}

@media (max-width: 450px) {
    .item div {
        font-size: 0.65rem;
    }
}

@media (max-width: 300px) {
    .item div {
        font-size: 0.5rem;
    }
}