.textarea {
    width: 100%;
    resize: none;
    box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.3);
    padding: 12px;
    border-radius: 24px;
    border: 3px solid white;
    outline: none;
    font-family: 'Adigiana Ultra', sans-serif;
    font-size: 1.1rem;
    transition: all 300ms;
}

.textarea:focus {
    border-color: rgb(255,183,66);
}

.invalid {
    border-color: red;
    background: rgba(255, 210, 210, 0.5);
}

.textarea::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0);
    width: 0.3rem;
}

.textarea::-webkit-scrollbar-track {
    border-radius: 10px;
    margin: 10px 0;
}

@media (max-width: 450px) {
    .textarea {
        margin-top: 11px;
    }
}