.wrapper {
    padding-top: 30px;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(229,248,255,1) 20%, rgba(155,222,245,1) 45%, rgba(255,255,255,1) 70%, rgba(155,222,245,1) 100%);
}